* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: 0.5s;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1; /* This will make sure that the main content expands to fill the available space */
}

footer {
    width: 100%;
    padding: 1rem 8%;
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Your existing styles for logo, social icons, and menu containers remain unchanged */

/* Add the following styles to ensure the footer is at the bottom */
.logo, .social-icons-container, .footer-menu-container {
    margin-bottom: 1rem;
}

.menu-item {
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-item:hover {
    opacity: 1;
}

.copyright {
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
}
