.headerUp {
    background-color: #942339;
    color: #fff !important; /* Color del texto blanco */
    font-weight: bold;
    font-size: 40px;
    text-align: center; /* Centrar el texto */
    padding: 20px 0; /* Agregar espacio interno superior e inferior */
}

.lineaOsucra {
    background-color: #5e1325;
    height: 10px;
    margin-bottom: 20px; /* Añadir margen inferior para separar de la sección siguiente */
}

.card {
    background-color: #acc0d0;
    border-radius: 50px;
    overflow: hidden; /* Asegurar que el fondo siga el borde redondeado */
}

.card li {
    background-color: #acc0d0;
}

.logoStand {
    display: block;
    margin: 0 auto; /* Centrar horizontalmente */
    margin-top: 20px;
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    border: 10px solid transparent;
    background-image: linear-gradient(to bottom, #d2d7db 50%, #bdc7d0 50%);
}

/* Media Query para dispositivos con un ancho máximo de 767px (puedes ajustar este valor según tu diseño) */
@media only screen and (max-width: 767px) {
    .headerUp {
        font-size: 24px; /* Reducir el tamaño del texto para dispositivos móviles */
        padding: 15px 0; /* Ajustar el espacio interno superior e inferior */
    }

    .bx-chevron-left,
    .bx-dots-vertical-rounded {
        padding: 0 10px; /* Reducir el espacio entre los iconos */
    }

    .lineaOsucra {
        height: 5px; /* Reducir la altura de la línea */
    }

    .contenidoForm {
        margin-top: 20px;
        
    }
    .card{
        margin-top: 10px;
        overflow-y: scroll; /* Agrega barra de desplazamiento vertical */
        max-height: 700px; /* Altura máxima de la sección */
    }

    .logoStand {
        margin-top: -30px; /* Ajustar la posición de la imagen en dispositivos móviles */
        width: 120px;
        height: 120px;
        border: 5px solid transparent;
    }
}
